/* home.css */
body {
    color: black;
    background-color: white;
    margin: 5% 10%;
}

h1 {
    color: white;
    height: 110px;
    line-height: 110px;
    padding: 20px;
    text-align: right;
    font-family: skia;
    vertical-align: text-bottom;
    background-color: black;
    background-image: url(http://hikoboshi.org/images/heading1.png);
    background-position: left;
    text-shadow: #999999 0px 0px 10px;
}

pre {
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    padding: 0em 1em 0em 1em;
    background-color: #f0f0f0;
}

code {
    font-family: "Osaka-Mono", monospace;
}

footer {
    text-align: center;
    font-size : small;
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: #cccccc;
}